body{
	background-color: #000000;
}

.nav-tabs{
	border-color: #444444 !important;
}

a.active.nav-link{
	background-color: transparent!important;
	color: #ffffff!important;
	border-color: #444444 !important;
	border-bottom-color: transparent!important;
}

ul.nav > li > a.active:hover{
	border-color: #444444 !important;
	border-bottom: none;
}

ul.nav > li > a:hover{
	color: white!important;
	border-bottom-color: #444444 !important;
	border-color: transparent!important;
}